spring:
  datasource:
    url: jdbc:mysql://localhost:3306/yuncun?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  global-config:
    db-config:
      # 全局表名前缀
#      table-prefix: tb_
      # 全都是全局设置 全部实体类的主键属性上面不用再加 Id-type
      id-type: auto
      # 逻辑删除
      logic-delete-field: delLogic  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
      #本意是想加载resources目录下的com/example/下的所有xml文件，
      #但是由于java和resources目录都有com/example目录，而上述配置在有相同目录的情况下，
      #默认扫描的是java目录下的文件，从而导致xml文件加载不到。
      # 自定义sql语句 扫描/mapper/文件目录下的任意包任意xml文件
  mapper-locations: classpath:mapper/*Mapper.xml
  #控制台输出
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl





